.title{
    font-size: 34px;
    color: rgb(247, 170, 182);
  margin: 0;
  padding: 0;
  text-align:center;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}