.btn{
  border-color:pink;color:pink;width:100%;font-size:20px;
}
#salehome {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#salehome .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#salehome .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#salehome .carousel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#salehome .carousel-background img {
  max-width: 100%;
}

#salehome .carousel-content {
  position: absolute;
  top:40%;
  left:10%
}

#salehome h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#salehome p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

#salehome .carousel-fade {
  overflow: hidden;
}

#salehome .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#salehome .carousel-fade .carousel-inner .carousel-item,
#salehome .carousel-fade .carousel-inner .active.carousel-item-left,
#salehome .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#salehome .carousel-fade .carousel-inner .active,
#salehome .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#salehome .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#salehome .carousel-fade .carousel-inner .carousel-item-next,
#salehome .carousel-fade .carousel-inner .carousel-item-prev,
#salehome .carousel-fade .carousel-inner .active.carousel-item-left,
#salehome .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#salehome .carousel-control-prev,
#salehome .carousel-control-next {
  width: 10%;
}

#salehome .carousel-control-next-icon,
#salehome .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#salehome .carousel-indicators li {
  cursor: pointer;
}
  
 